<!-- <div>
  <h4>
    <label for="search-box">Hero Search</label>
  </h4>
  <input #searchBox id="search-box" (input)="search(searchBox.value)" />

  <ul class="search-result">
    <li *ngFor="let hero of heroes$ | async">
      <a routerLink="/detail/{{ hero.id }}">
        {{ hero.name }}
      </a>
    </li>
  </ul>
</div> -->

<!-- <form class="example-form" >
  <mat-form-field class="example-full-width" style="width:fit-content">
    <mat-chip-list #chipList>
      <mat-chip style="margin-top:0.4em;" *ngFor="let option of  this.dataService.searchOption" (removed)="removeOption(option)">
  
        <span>{{option.title}}</span>
        
        <mat-icon matChipRemove>cancel</mat-icon>
      </mat-chip>
      <input #autocompleteInput type="text" placeholder="Enter title" aria-label="Number" matInput
        [matAutocomplete]="auto" [matChipInputFor]="chipList">
      <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
        <mat-option *ngFor="let option of autoCompleteList" [value]="option" (onSelectionChange)="filterPostList($event)">
          {{option.title}}
        </mat-option>
      </mat-autocomplete>
    </mat-chip-list>
  
  </mat-form-field>
  
  </form> -->
